*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a {
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

form {
  margin: 0;
}

button,
input {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
button,
input {
  color: #222;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
  font-family: 'Barlow', sans-serif;
  font-weight: 400px;
  width: 78%;
  padding: 55px 0 39px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__logo {
  background: url(../img/header/logo.svg) no-repeat;
  width: 40px;
  height: 40px;
}

.header__button {
  background: #E8EFF2;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 1em 1.7em;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.main {
  margin: 83px 0 128px;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.main__item:not(:last-child) {
  margin-right: 30px;
}

.main__item__title {
  color: #162542;
  font-size: 24px;
  font-weight: 900;
  margin: 48px 0 24px;
  line-height: 28px;
  padding-right: 100px;
}

.main__item__text {
  color: #7B8BAD;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.img-monitor {
  background: url(../img/main/monitor-icon.svg) no-repeat;
  width: 65px;
  height: 65px;
}

.img-bluetooth {
  background: url(../img/main/bluetooth-icon.svg) no-repeat;
  width: 65px;
  height: 65px;
}

.img-battery {
  background: url(../img/main/battery-icon.svg) no-repeat;
  width: 65px;
  height: 65px;
}

.img-lamp {
  background: url(../img/main/lamp-icon.svg) no-repeat;
  width: 65px;
  height: 65px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.footer__copyright {
  color: #7B8BAD;
  font-weight: 300;
  font-size: 16px;
}

.color-text {
  color: #7B8BAD;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */