@import './config/normalize';
@import './config/variables';
@import './config/mixins';

body {
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    margin: 0 auto;
    @include flexiblePlacement(none, none, column, none);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400px;
    width: 78%;
    padding-top: 55px;
}

@import './header';
// @import './main';
// @import './footer';
@import './config/media';